MIDI.js/js/MIDI/MIDI.JS.min.js
js/groove_display.min.js
js/groove_writer.min.js
js/local_development.js
node_modules/

# TypeScript build output
js/groove_utils.js
js/groove_utils.js.map
js/groove_writer.js
js/groove_writer.js.map
tsjs/

# macOS
.DS_Store
